<<<<<<< HEAD
.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap:50px;
    margin-top:100px;
}

.place-order .place-order-left{
    width:100%;
    max-width: max(30%,500px);
}

.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.place-order-left input{
    margin-bottom: 15px;
    width:100%;
    padding:10px;
    border:1px solid gainsboro;
    border-radius: 4px;
    outline-color: #d54545;
}

.place-order-left .multi-field{
    display: flex;
    gap:10px;
}

.place-order-right{
    width:100%;
    max-width: max(40%,500px);
}

.place-order .place-order-right .cart-total-details{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-bottom: 10px;
}

.place-order .place-order-right .cart-total button{
    margin-top:20px;
    background-color: #d54545;
    padding: 5px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}

.place-order .place-order-right .cart-total button:hover{
    background-color: #893030;
    color:white;
}

.place-order .place-order-right .cart-total h2{
    text-decoration: none;
    margin-left: 1px;
    margin-top:100px;
    margin-bottom: 40px;
=======
.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap:50px;
    margin-top:100px;
}

.place-order .place-order-left{
    width:100%;
    max-width: max(30%,500px);
}

.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.place-order-left input{
    margin-bottom: 15px;
    width:100%;
    padding:10px;
    border:1px solid gainsboro;
    border-radius: 4px;
    outline-color: #d54545;
}

.place-order-left .multi-field{
    display: flex;
    gap:10px;
}

.place-order-right{
    width:100%;
    max-width: max(40%,500px);
}

.place-order .place-order-right .cart-total-details{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-bottom: 10px;
}

.place-order .place-order-right .cart-total button{
    margin-top:20px;
    background-color: #d54545;
    padding: 5px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}

.place-order .place-order-right .cart-total button:hover{
    background-color: #893030;
    color:white;
}

.place-order .place-order-right .cart-total h2{
    text-decoration: none;
    margin-left: 1px;
    margin-top:100px;
    margin-bottom: 40px;
>>>>>>> c0bebb376d5934a6a5b21a718cdfdd6a8349cff0
}